<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dupake.report.mapper.InOutReportMapper">


    <resultMap id="BaseAssetMap" type="com.dupake.common.pojo.dto.res.report.InOutDTO">
        <result property="totalIncome" column="total_income"/>
        <result property="totalExpenditure" column="total_expenditure"/>
        <result property="assetDate" column="asset_date"/>
    </resultMap>


    <select id="getReportAsset" resultMap="BaseAssetMap">


        select
        asset_date,
        sum(total_income) total_income,
        sum(total_expenditure) total_expenditure
        from (
        select format_hour as asset_date, sum(real_receive_amount) total_income, sum(real_pay_amount) total_expenditure
        from (
        select account_code,
        real_receive_amount,
        real_pay_amount,
        subject_code,
        date_format(from_unixtime(asset_date / 1000), '%Y-%m-%d') format_hour
        from fin_asset_record
        where asset_date between #{startTime} and #{endTime}
        <if test="accountCode != null and accountCode != ''">
            and account_code = #{accountCode}
        </if>
        <if test="subjectCode != null and subjectCode != ''">
            and subject_code = #{subjectCode}
        </if>
        ) t
        group by account_code, subject_code,format_hour

        ) s

        group by asset_date


    </select>


</mapper>
